<div class="container">
  <div id="result" style="width: 200px; height: 200px; display: flex"></div>

  <button  type="button" id="onStartCrop">Init crop</button>
  <button  type="button" id="onDoCrop">on do Crop</button>
  <button  type="button" id="onRotateLeft">Left</button>
  <button  type="button" id="onRotateRight">Right</button>

  <button  type="button" id="onCancel">Cancel</button>
  <button  type="button" id="onStop">Stop</button>
  <button  type="button" id="onBox">Box</button>



  <div id="img-container" style="width: 600px; height: 600px;">
    <canvas id="canvasContainer" style="width: 100px; height: 100px" #canvasRef>
    </canvas>
  </div>

</div>
